*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}


html{
  font-size:62.5%;
}


body{
  background:hsl(0, 100%, 74%)  url('./images/bg-intro-mobile.png');
  background-size:cover;
  height:100vh;
  width:100%
}

.container{
  height:100%;
  padding:0 2.4rem;
}

.main-text{
  padding-top:8.8rem;
}

.main-text h1 {
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 2.8rem;
font-style: normal;
font-weight: 700;

letter-spacing:.029rem;
    font-size: clamp(1.8rem, 5vw,5rem);

    line-height: clamp(1.8rem, 5vw,5.5rem);

}

.main-text p {
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
padding-top:1.6rem;
padding-bottom:6.4rem;
line-height: 2.6rem; /* 162.5% */




}

.top-button {
  background: #5E54A4;
  border-radius:1rem;
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 2.6rem; /* 173.333% */
letter-spacing: .0268rem;
    padding: 1rem 2rem;
    margin-bottom:2.4rem;
    width:100%;
}

.form-wrapper{
  background:#fff;
      border-radius: 1rem;
}

form {
    padding: 2.4rem 2.4rem;
    border-radius: 1rem;
}

input, form button {
  padding:2rem;
  margin:0.8rem 0;
  width:100%;
}

form button {
  border-radius: .5rem;;
background: #38CC8B;
box-shadow: 0px -.4rem 0px 0px rgba(0, 0, 0, 0.09) inset;
color:#fff;


text-align: center;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 2.6rem; /* 173.333% */
letter-spacing: .1rem;
}

form p {
  color: #BAB7D4;
text-align: center;
font-family: Poppins;
font-size: 1.1rem;
font-style: normal;
font-weight: 500;
line-height: 2.1rem; /* 190.909% */
}


.terms{
color:hsl(0, 100%, 74%);

}


@media (min-width:900px){


body{
    background:hsl(0, 100%, 74%)  url('./images/bg-intro-desktop.png');
}

.container{
  display:flex;
  max-width:1440px;
  margin:auto;
  justify-content: center;
  align-items:center;
      padding: 0 16.5rem;
}
.left{
  51.04%;
}


form {
      padding: 2.4rem 4rem;
}
.main-text h1 {
text-align:left;

}
.top-button{
  height:6rem;
}


.main-text {
  padding-top:0;
}


.main-text p {
  text-align:left;
  width: 52.5rem;
}
}
}
